.contenedor {
    width: 30%;
    height: 15rem;
    background-color: #2f364b;
    margin-top: 8rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 9rem;
    gap: 2rem;
}

.contenedor-textos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

img {
    width: 50%;
}

p {
    font-size: 18px;
}

button{
    background-color: #545969;
    color: rgb(219, 218, 218);
    border-radius: 5rem;
    border: none;
    padding: 15px;
    font-family: sans-serif;
    font-size: 18px;
    width: 7rem;
}