.seccion-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.espacio{
    width: 100%;
    height: 5rem;
}

.contenedor-nav{
    width: 90%;
    height: 5rem;
    background-color: #2f364b;
    border-radius: 15px;
    display: flex;
    align-items: center ;
    justify-content: space-around;
    gap: 60rem;
}

.Navegador{
    display: flex;
    align-items: center;
}

h2{
  text-align: center;    
}

.btn-mode{
    background-color: #545969;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 7px;
    width: 4%;
    height: 3rem;
}
