* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  background-color: hsl(227, 75%, 14%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-size: 1.5rem;
}

p {
  color: rgb(196, 196, 196);
}

.contenedorCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  max-width: 1280px;
  margin: auto;
  margin-top: 5rem;
  gap: 15px;
}